{%  extends "core/base.html" %}

{% block title %}Biblioteca{% endblock %}

{% block cssExtra %}
<link rel="stylesheet" type="text/css" href="../static\core\css\Biblioteca\Biblioteca.css">
{% endblock %}


{% block content%}



<body>
    <!-- INICIO MAQUETADO -->
    <div class="maquetado">

        <!-- COMIENZA MAIN -->
        <main class="main">

                <div class="bienvenida">

                    <H1>Tu biblioteca <span class="gris">></span></H1>

                </div>

                <div class="box-total">

                    <div class="juego"  onclick="window.location.href='crash.html'">
                        <div class="imagen-juego">
                          <img src="../../static/core/img/Biblioteca/Crash/crash.jpg" alt="crash">
                        </div>
                        <div class="display-juego">
                          <div class="titulo-juego">
                            <h1>Crash Nsane trilogy</h1>
                          </div>
                          <div class="progreso">
                            <p><span>Progreso:</span>60%</p>
                            <div class="porcentaje" style="--wth:60%"></div>
                          </div>
                          <div class="ultima-vez">
                            <p>Última vez: <span class="gris">Hace 12 dias</span></p>
                            
                          </div>
                          <div class="tiempo-jugado">
                            <p>Tiempo jugado: <span class="gris">42,5 horas</span></p>
                          </div>
                        </div>
                      </div>
        
                      <div class="juego" onclick="window.location.href='Elden-ring.html'">
                        <div class="imagen-juego">
                          <img src="../../static/core/img/Biblioteca/Elden Ring/elden.jpg" alt="elden">
                        </div>
                        <div class="display-juego">
                          <div class="titulo-juego">
                            <h1>Elden Ring</h1>
                          </div>
                          <div class="progreso">
                            <p><span>Progreso:</span>80%</p>
                            <div class="porcentaje" style="--wth:80%"></div>
                          </div>
                          <div class="ultima-vez">
                            <p>Última vez: <span class="gris">Hace 5 dias</span></p>
                            
                          </div>
                          <div class="tiempo-jugado">
                            <p>Tiempo jugado: <span class="gris">78,2 horas</span></p>
                          </div>
                        </div>
                      </div>
        
                      <div class="juego" onclick="window.location.href='half.html'">
                        <div class="imagen-juego">
                          <img src="../../static/core/img/Biblioteca/Half Life 2/half-life.jpg" alt="half">
                        </div>
                        <div class="display-juego">
                          <div class="titulo-juego">
                            <h1>Half Life: episodio 2</h1>
                          </div>
                          <div class="progreso">
                            <p><span>Progreso:</span>90%</p>
                            <div class="porcentaje" style="--wth:90%"></div>
                          </div>
                          <div class="ultima-vez">
                            <p>Última vez: <span class="gris">Hace 1304 dias</span></p>
                            
                          </div>
                          <div class="tiempo-jugado">
                            <p>Tiempo jugado: <span class="gris">30,3 horas</span></p>
                          </div>
                        </div>
                      </div>
        
                      <div class="juego" onclick="window.location.href='re4.html'">
                        <div class="imagen-juego">
                          <img src="../../static/core/img/Biblioteca/RE4 Remake/resident.jpg" alt="re4">
                        </div>
                        <div class="display-juego">
                          <div class="titulo-juego">
                            <h1>Resident Evil 4 remake</h1>
                          </div>
                          <div class="progreso">
                            <p><span>Progreso:</span>100%</p>
                            <div class="porcentaje" style="--wth:100%"></div>
                          </div>
                          <div class="ultima-vez">
                            <p>Última vez: <span class="gris">Hace 90 dias</span></p>
                            
                          </div>
                          <div class="tiempo-jugado">
                            <p>Tiempo jugado: <span class="gris">50,4 horas</span></p>
                          </div>
                        </div>
                      </div>
        
                      <div class="juego" onclick="window.location.href='sekiro.html'">
                        <div class="imagen-juego">
                          <img src="../../static/core/img/Biblioteca/Sekiro/sekiro.jpg" alt="sekiro">
                        </div>
                        <div class="display-juego">
        
                          <div class="titulo-juego">
                            <h1>Sekiro: shadow die twice</h1>
                          </div>
        
                          <div class="progreso">
                            <p><span>Progreso:</span>4%</p>
                            <div class="porcentaje" style="--wth:4%"></div>
                          </div>
        
                          <div class="ultima-vez">
                            <p>Última vez: <span class="gris">Hace 300 dias</span></p>
                          </div>
        
                          <div class="tiempo-jugado">
                            <p>Tiempo jugado: <span class="gris">1,2 hora</span></p>
                          </div>
        
                        </div>
                      </div>
        
                      <div class="juego" onclick="window.location.href='spidy.html'">
                        <div class="imagen-juego">
                          <img src="../../static/core/img/Biblioteca/Spiderman/spider.jpg" alt="spidy">
                        </div>
                        <div class="display-juego">
                          <div class="titulo-juego">
                            <h1>Spider-man Miles Morales</h1>
                          </div>
                          <div class="progreso">
                            <p><span>Progreso:</span>45%</p>
                            <div class="porcentaje" style="--wth:45%"></div>
                          </div>
                          <div class="ultima-vez">
                            <p>Última vez: <span class="gris">Hace 20 dias</span></p>
                            
                          </div>
                          <div class="tiempo-jugado">
                            <p>Tiempo jugado: <span class="gris">14 horas</span></p>
                          </div>
                        </div>
                      </div>
        
                      <div class="juego" onclick="window.location.href='tlou.html'">
                        <div class="imagen-juego">
                          <img src="../../static/core/img/Biblioteca/TLOU/tlou.jpg" alt="tlou">
                        </div>
                        <div class="display-juego">
                          <div class="titulo-juego">
                            <h1>The last of us</h1>
                          </div>
                          <div class="progreso">
                            <p><span>Progreso:</span>64%</p>
                            <div class="porcentaje" style="--wth:64%"></div>
                          </div>
                          <div class="ultima-vez">
                            <p>Última vez: <span class="gris">Hace 254 dias</span></p>
                            
                          </div>
                          <div class="tiempo-jugado">
                            <p>Tiempo jugado: <span class="gris">36,4 horas</span></p>
                          </div>
                        </div>
                      </div>
        
                    
                </div>

            
             <!-- FIN PRINCIPAL -->

        </main>
        <!-- FIN MAIN -->

    </div>
    <!-- FIN MAQUETADO -->

</body>
{% endblock %}
          