{%  extends "core/base.html" %}

{% block title %} Perfil de Coorsed {% endblock %}

{% block cssExtra %}
<link rel="stylesheet" type="text/css" href="../static/core/css/Perfiles/Perfil-coorsed.css">
{% endblock %}


{% block content%}


<body>
    <!-- INICIO MAQUETADO -->
    <div class="maquetado">


        <main class="main">
            <div class="cabecera">
                <div class="imagen-perfil"><img src="../../static/core/img/perfil/Coorsed/kaneki.jpg" alt="Foto perfil"></div>
                <div class="sombra"></div>
                <div class="texto">
                    <div class="usuario">Coorsed</div>
                    <div class="gris"><p>Sumiller profesional de anime y programador jr.</p></div>
                </div>
            </div>

            <div class="box-inferior">

               <div class="box-biblioteca">
                   <div class="en-progreso">
                        <div class="categoria">
                          <p>Ultimos jugados <span class="gris">></span></p>
                          <a href="../../pages/Juegos/Biblioteca.html">Ver biblioteca completa <span class="gris">></span></a>
                        </div>
            
                        <div class="juegos-activos">
                          
            
                          <div class="juego"  onclick="window.location.href='../juegos/crash.html'">
                            <div class="imagen-juego">
                              <img src="../../static/core/img/Biblioteca/Crash/crash.jpg" alt="crash">
                            </div>
                            <div class="display-juego">
                              <div class="titulo-juego">
                                <h1>Crash Nsane trilogy</h1>
                              </div>
                              <div class="progreso">
                                <p><span>Progreso:</span>60%</p>
                                <div class="porcentaje" style="--wth:60%"></div>
                              </div>
                              <div class="ultima-vez">
                                <p>Última vez: <span class="gris">Hace 12 dias</span></p>
                                
                              </div>
                              <div class="tiempo-jugado">
                                <p>Tiempo jugado: <span class="gris">42,5 horas</span></p>
                              </div>
                            </div>
                          </div>
            
                          <div class="juego" onclick="window.location.href='../juegos/Elden-ring.html'">
                            <div class="imagen-juego">
                              <img src="../../static/core/img/Biblioteca/Elden Ring/elden.jpg" alt="elden">
                            </div>
                            <div class="display-juego">
                              <div class="titulo-juego">
                                <h1>Elden Ring</h1>
                              </div>
                              <div class="progreso">
                                <p><span>Progreso:</span>80%</p>
                                <div class="porcentaje" style="--wth:80%"></div>
                              </div>
                              <div class="ultima-vez">
                                <p>Última vez: <span class="gris">Hace 5 dias</span></p>
                                
                              </div>
                              <div class="tiempo-jugado">
                                <p>Tiempo jugado: <span class="gris">78,2 horas</span></p>
                              </div>
                            </div>
                          </div>
            

            
                          <div class="juego" onclick="window.location.href='../juegos/re4.html'">
                            <div class="imagen-juego">
                              <img src="../../static/core/img/Biblioteca/RE4 Remake/resident.jpg" alt="re4">
                            </div>
                            <div class="display-juego">
                              <div class="titulo-juego">
                                <h1>Resident Evil 4 remake</h1>
                              </div>
                              <div class="progreso">
                                <p><span>Progreso:</span>100%</p>
                                <div class="porcentaje" style="--wth:100%"></div>
                              </div>
                              <div class="ultima-vez">
                                <p>Última vez: <span class="gris">Hace 90 dias</span></p>
                                
                              </div>
                              <div class="tiempo-jugado">
                                <p>Tiempo jugado: <span class="gris">50,4 horas</span></p>
                              </div>
                            </div>
                          </div>
            

            
                          <div class="juego" onclick="window.location.href='../juegos/spidy.html'">
                            <div class="imagen-juego">
                              <img src="../../static/core/img/Biblioteca/Spiderman/spider.jpg" alt="spidy">
                            </div>
                            <div class="display-juego">
                              <div class="titulo-juego">
                                <h1>Spider-man Miles Morales</h1>
                              </div>
                              <div class="progreso">
                                <p><span>Progreso:</span>45%</p>
                                <div class="porcentaje" style="--wth:45%"></div>
                              </div>
                              <div class="ultima-vez">
                                <p>Última vez: <span class="gris">Hace 20 dias</span></p>
                                
                              </div>
                              <div class="tiempo-jugado">
                                <p>Tiempo jugado: <span class="gris">14 horas</span></p>
                              </div>
                            </div>
                          </div>
            

            
                        </div>
                      </div> 
                       <!-- FIN  JUEGOS EN PROGRESO-->
                </div>
                
                <div class="box-actividades">
                    <div class="mitad1">
                    

                        <div class="categoria">
                          <p>Ultimas actividades <span class="categoria-colorear">></span></p>
                        </div>
          
                        <div class="actividad" onclick="window.location.href='../juegos/Elden-ring.html'">
                          <div class="imagen-actividad">
                            <img src="../../static/core/img/Biblioteca/Elden Ring/elden.jpg" alt="elden"> 
                          </div>
          
                          <div class="texto-actividad">
                            <h1>¡NUEVO LOGRO DE <a class="usuario">Coorsed</a>!</h1>
                            <h2>Mohg, el Augurio<h2>
                            <p>Derrota a Mogh, el Augurio</p>
                          </div>
                        </div>
          
                        <div class="actividad" onclick="window.location.href='../juegos/Elden-ring.html'">
                          <div class="imagen-actividad">
                            <img src="../../static/core/img/Biblioteca/Elden Ring/elden.jpg" alt="elden"> 
                          </div>
          
                          <div class="texto-actividad">
                            <h1>¡NUEVO LOGRO DE <a class="usuario">Coorsed</a>!</h1>
                            <h2>Armas exterminadoras de dioses<h2>
                            <p>Mejora un arma a su máximo nivel</p>
                          </div>
                        </div>
          
                        <div class="actividad" onclick="window.location.href='../juegos/Elden-ring.html'">
                          <div class="imagen-actividad">
                            <img src="../../static/core/img/Biblioteca/Elden Ring/elden.jpg" alt="elden"> 
                          </div>
          
                          <div class="texto-actividad">
                            <h1>¡NUEVO LOGRO DE <a class="usuario">Coorsed</a>!</h1>
                            <h2>Restos cenicientos legendarios<h2>
                            <p>Consigue todos los restos cenicientos legendarios</p>
                          </div>
                        </div>



                        <!-- COMIENZA PUBLICACION EN FORO -->
                        <div class="foro" onclick="window.location.href='../Foro/Hilo-pcs.html'">                

                            <!-- COMIENZA TEXTO PUBLICACION -->
                            <section class="texto">
                                <H1>[ABRO HILO] ¡PRESENTACIONES DE PC!</H1>
                                <h2>¡Hola gente! Les presento a "la maleducada":<h2>
                                <p>
                                Ryzen 7 5800x<br>
                                16gb ram ddr4 Ballistix 3200mhz<br>
                                RTX 2060 SUPER de Palit<br>
                                Custom water cooler loop (diy)<br>
                                Aerocool cylon 700w<br>
                                Compartan su build! ;)
                                </p>                    
                            </section>

                         <!-- FINAL TEXTO PUBLICACION -->
                            </section>
                         <!-- FINALIZA PUBLICADOR -->
                        </div>
                    </div>
                    <!-- FIN PUBLICACION EN FORO -->
                        
                </div>

            </div>

        </main>
      <!-- FIN MID-PAGE -->


    </div>
    <!-- FIN MAQUETADO -->

  <!-- scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <!-- scripts  -->

</body>
{% endblock %}