{%  extends "core/base.html" %}

{% block content%}


<body>
    <div class="maquetado">  

      <!-- COMIENZA MID-PAGE -->
        <main class="main">

            <!-- COMIENZA PRINCIPAL -->

                <div class="categoria">
                    <h2>Crash Nsane Trilogy</h2>
                </div>


            
                <div class="superior">

                    <div class="izquierda">
                        <div class="carousel">

                            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="false">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                </div>
                                <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../../static/core/img/Biblioteca/Crash/1.jpg" class="d-block w-100" alt="1">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../static/core/img/Biblioteca/Crash/2.jpg" class="d-block w-100" alt="2">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../static/core/img/Biblioteca/Crash/3.jpg" class="d-block w-100" alt="3">
                                </div>
                                <div class="carousel-item">      
                                        <div class="iframe-box">          
                                            <iframe src="https://www.youtube.com/embed/1Uai4Rd2wqY?rel=0" width="100%"  frameborder="0"  allowfullscreen alt="4"> </iframe>    
                                        </div>                
                                </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                        <div class="descripcion">
                            <p>Descripcion <span class="gris">></span></p>
        
                            <p>Reencuéntrate con tu marsupial favorito, Crash Bandicoot, que llega girando a PlayStation 4 junto con sus tres aventuras más memorables, recreadas para la generación actual.<br>
                                N. Sane Trilogy incluye Crash Bandicoot, Crash Bandicoot 2: Cortex Strikes Back y Crash Bandicoot 3: Warped, que se recrearon de cero y con mucho amor. Los gráficos y sonidos nuevos permiten traer la jugabilidad clásica de la serie a toda una nueva generación.<br>
                                
                                Juega como Crash o su hermana menor, Coco, y ábrete paso a los saltos, con giros o hasta en motocicleta a lo largo de tres aventuras alocadas, en las que encontrarás desde relojes parlantes hasta rápidos correntosos. ¡Salva al mundo de las fuerzas del mal!
                            </p>    
                        </div>
        
                        <div class="requisitos"> 
                            <p>Requisitos Minimos <span class="gris">></span></p>
                                <div class="categoria">
                                    <p>SO:</p>
                                    <p class="gris">
                                    Windows 7
                                    </p>
                                </div>
        
                                <div class="categoria">
                                    <p>Procesador:</p>
                                    <p class="gris">
                                    Intel Core i5-750 @ 2.67GHz | AMD Phenom II X4 965 @ 3.4GHz
                                    </p>
                                </div>
        
                                <div class="categoria">
                                    <p>Memoria:</p>
                                    <p class="gris">
                                        8 GB de RAM
                                    </p>
                                </div>
        
                                <div class="categoria">
                                    <p>Gráficos:</p>
                                    <p class="gris">
                                        NVIDIA GeForce GTX 660 2GB | AMD Radeon HD 7850 2GB
                                    </p>
                                </div>
        
                                <div class="categoria">
                                    <p>Almacenamiento:</p>
                                    <p class="gris">
                                        30 GB de espacio disponible
                                    </p>
                                </div>
                                
                                
                        </div>
        
                        <div class="reviews">
                            <p>Reviews <span class="gris">></span></p>
                            <p>
                                80% – Metacritic<br><br>
                                
                                
                                8.5/10 – IGN<br><br>
                                
                                
                                83% – HobbyConsolas</p>
        
                        </div>
        
                    </div>
                    

                        
                    <div class="datos-del-juego">
                            <div class="categoria">
                                <p>Plataforma</p>
                                <p class="gris">
                                    Xbox One<br>
                                    Microsoft Windows<br>
                                    PlayStation 4<br>
                                    Nintendo Switch
                                </p>
                            </div>

                            <div class="categoria">
                                <p>Desarrollador</p>
                                <p class="gris">
                                Vicarious Visions
                                </p>
                            </div>

                            <div class="categoria">
                                <p>Distribuidor</p>
                                <p class="gris">
                                    Activision
                                </p>
                            </div>

                            <div class="categoria">
                                <p>Géneros</p>
                                <p class="gris">
                                    Plataformas
                                </p>
                            </div>

                            <div class="categoria">
                                <p>Director</p>
                                <p class="gris">
                                    Dan Tanguay
                                </p>
                            </div>
                            
                            
                    </div>
                </div>         
                

        </main>
        <!-- FIN MID-PAGE -->




    </div>
    <!-- FIN MAQUETADO -->

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- scripts  -->

</body>
{%endblock%}