{%  extends "core/base.html" %}

{% block content%}

<body>
    <!-- INICIO MAQUETADO -->
    <div class="maquetado">
        
      <!-- COMIENZA MID-PAGE -->
        <main class="main">

            <!-- COMIENZA PRINCIPAL -->

                <div class="categoria">
                    <h2>Half Life 2 Episodio 2</h2>
                </div>


            
                <div class="superior">

                    <div class="izquierda">
                        <div class="carousel">

                            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="false">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                </div>
                                <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../../static/core/img/Biblioteca/Half Life 2/1.jpg" class="d-block w-100" alt="1">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../static/core/img/Biblioteca/Half Life 2/2.jpg" class="d-block w-100" alt="2">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../static/core/img/Biblioteca/Half Life 2/3.jpg" class="d-block w-100" alt="3">
                                </div>
                                <div class="carousel-item">      
                                        <div class="iframe-box">          
                                            <iframe src="https://www.youtube.com/embed/GUw33CwqE_I?rel=0" width="100%"  frameborder="0"  allowfullscreen alt="4"> </iframe>    
                                        </div>                
                                </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                        <div class="descripcion">
                            <p>Descripcion <span class="gris">></span></p>
        
                            <p>
                                El jugador vuelve a tomar la palanca del científico Gordon Freeman, quien se encuentra en una Tierra infestada por alienígenas, desposeída de todos sus recursos y en la que cada vez queda menos población. Freeman se ve envuelto en el papel nada envidiable de rescatar el mundo del mal que desencadenó en Black Mesa. Y mucha gente a la que aprecia cuenta con él.
                            </p>
                        </div>
        
                        <div class="requisitos"> 
                            <p>Requisitos Minimos <span class="gris">></span></p>
                                <div class="categoria">
                                    <p>SO:</p>
                                    <p class="gris">
                                        Windows 7, Vista, XP
                                    </p>
                                </div>
        
                                <div class="categoria">
                                    <p>Procesador:</p>
                                    <p class="gris">
                                        1.7 Ghz
                                    </p>
                                </div>
        
                                <div class="categoria">
                                    <p>Memoria:</p>
                                    <p class="gris">
                                        512 MB de RAM
                                    </p>
                                </div>
        
                                <div class="categoria">
                                    <p>Gráficos:</p>
                                    <p class="gris">
                                        DirectX 8.1 level Graphics Card
                                    </p>
                                </div>
        
                                <div class="categoria">
                                    <p>Almacenamiento:</p>
                                    <p class="gris">
                                        6500 MB de espacio disponible
                                    </p>
                                </div>
                                
                                
                        </div>
        
                        <div class="reviews">
                            <p>Reviews <span class="gris">></span></p>
                            <p>10/10 - Steam<br><br>
                                
                                9.7/10 - Vandal<br><br>
                                
                                9/10 - 3DJuegos
                            </p>
        
                        </div>
        
                    </div>
                    

                        
                    <div class="datos-del-juego">
                            <div class="categoria">
                                <p>Plataforma</p>
                                <p class="gris">
                                    MacOS<br>
                                    Xbox Series 360<br>
                                    Microsoft Windows<br>
                                    PlayStation 3
                                    
                                </p>
                            </div>

                            <div class="categoria">
                                <p>Desarrollador</p>
                                <p class="gris">
                                    Valve Corporation
                                </p>
                            </div>

                            <div class="categoria">
                                <p>Distribuidor</p>
                                <p class="gris">
                                    Valve Corporation y Sierra Entertainment
                                </p>
                            </div>

                            <div class="categoria">
                                <p>Géneros</p>
                                <p class="gris">
                                    Disparos en primera persona
                                </p>
                            </div>

                            <div class="categoria">
                                <p>Director</p>
                                <p class="gris">
                                    Marc Laidlaw
                                </p>
                            </div>
                            
                            
                    </div>
                </div>         
                

        </main>
        <!-- FIN MID-PAGE -->

    </div>
    <!-- FIN MAQUETADO -->

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- scripts  -->

</body>
{%endblock%}