{%  extends "core/base.html" %}

{% block content%}


<body>
    <!-- INICIO MAQUETADO -->
    <div class="maquetado">

        <!-- COMIENZA MAIN -->
        <main class="main">
            
            <!-- COMIENZA PRINCIPAL -->
            <div class="principal"> 
            
                <div class="categoria">
                    <p><a href="foro.html">Foro</a> <span class="gris">></span> [ABRO HILO] ¡PRESENTACIONES DE PC!</p>
                </div>


                <div class="contenedor">
                    <div class="box-original">
                        <div class="cabecera">
                            <div>[ABRO HILO] ¡PRESENTACIONES DE PC!</div>
                            <div class="gris">hace 7 minutos</div>
                        </div>

                        <div class="contenido">

                            <p>¡Hola gente! Les presento a "la maleducada":</p>
                                <p>
                                Ryzen 7 5800x<br>
                                16gb ram ddr4 Ballistix 3200mhz<br>
                                RTX 2060 SUPER de Palit<br>
                                Custom water cooler loop (diy)<br>
                                Aerocool cylon 700w<br>
                                Compartan su build! ;)
                                </p>
                                <a class="usuario" href="../Perfiles/Coorsed.html">
                                    <img src="../../static/core/img\perfil/Coorsed/kaneki.jpg" class="foto-pefil" alt="icono perfil">
                                    Coorsed
                                </a>
                        </div>
                    </div>

                    <div class="box-comentario">

                        <div class="contenido">

                           
                            <div class="gris">hace 3 minutos</div>
                            
                            <h4>La mecha:<br></h4>
                                <p> i7 4790<br>
                                    16gb ram ddr3 Vengeance 2400mhz<br>
                                    GTX 1650 de Asus<br>
                                    Cooler Nisuta 120mm<br>
                                    LNZ ZX 650w<br>
                                    Sigan el hilo!!!
                                 </p>
                                <a class="usuario" href="../Perfiles/Mongus.html">
                                    <img src="../../static/core/img\perfil/Mongus/tomoyo.jpg" class="foto-pefil" alt="icono perfil">
                                    Mongus
                                </a>
                        </div>
                    </div>
                </div>
                
            </div>
             <!-- FIN PRINCIPAL -->
            
             <!-- COMIENZA ASIDE -->
             <aside class="aside">

                <!-- COMIENZA TITULO -->
                <a class="titulo" href="../../pages/Noticias/Todas.html">
                  <p>Últimas noticias</p>
                </a>
                <!-- FIN TITULO -->
    
                <!-- COMIENZA LISTA NOTICIAS -->
                <ul class="noticias">
    
                  <!-- COMIENZA NOTICIA -->
                    <li>
                      <a href="../../pages/Noticias/Noticia1.html">  
                        <!-- COMIENZA IMAGEN NOTICIA-->
                        <div class="imagen">
                          <img src="../../static/core/img/noticias/noticia jjk/noticia.jpg" alt="noticia gojo">
                        </div>
                        <!-- FIN IMAGEN NOTICIA -->
                      
                        <!-- COMIENZA TEXTO NOTICIA -->
                        
                        <div class="noticia">
                          <p>¡Jujutsu kaisen rompe el internet de nuevo!</p>
                        </div>
                        <!-- FIN TEXTO NOTICIA -->
                      </a>
    
    
                    </li>
                    <!-- FIN NOTICIA -->
    
                    <!-- COMIENZA NOTICIA -->
                    <li>
                      <a href="../../pages/Noticias/Noticia2.html">
    
                        <!-- COMIENZA IMAGEN NOTICIA-->
                        <div class="imagen">
                          <img src="../../static/core/img/noticias/noticia elden/noticia1.jpg" alt="noticia elden">
                        </div>
                        <!-- FIN IMAGEN NOTICIA -->
                      
                        <!-- COMIENZA TEXTO NOTICIA -->
                        <div class="noticia">
                          <p>¡Se aproxima Shadow of the Erdtree! Estas son sus novedades.</p>
                        </div>
                        <!-- FIN TEXTO NOTICIA -->
                      </a>
                      
                    </li>
                    <!-- FIN NOTICIA -->
    
                    <!-- COMIENZA NOTICIA -->
                    <li>
                      <a href="../../pages/Noticias/Noticia3.html">
                        <!-- COMIENZA IMAGEN NOTICIA-->
                        <div class="imagen">
                          <img src="../../static/core/img\noticias/noticia fortnite/noticia2.jpg" alt="noticia fortnite">
                        </div>
                        <!-- FIN IMAGEN NOTICIA -->
                      
                        <!-- COMIENZA TEXTO NOTICIA -->
                        <div class="noticia">
                          <p>¡Unete a los Jedi esta temporada! Fortnite x Star Wars.</p>
                        </div>
                        <!-- FIN TEXTO NOTICIA -->
                      </a>
                    </li>
                    <!-- FIN NOTICIA -->
    
                    <!-- COMIENZA NOTICIA -->
                    <li>
                      <a href="../../pages/Noticias/Noticia4.html">
                        <!-- COMIENZA IMAGEN NOTICIA-->
                        <div class="imagen">
                          <img src="../../static/core/img\noticias/noticia switch/noticia3.jpg" alt="noticia switch">
                        </div>
                        <!-- FIN IMAGEN NOTICIA -->
                      
                        <!-- COMIENZA TEXTO NOTICIA -->
                        <div class="noticia">
                          <p>¡Presentacion Switch 2! Estas son sus especificaciones.</p>
                        </div>
                        <!-- FIN TEXTO NOTICIA -->
                      </a>
                    </li> 
                    <!-- FIN NOTICIA -->
    
                </ul>
                <!-- FIN LISTA NOTICIAS -->
    
            </aside>
            <!-- FIN ASIDE -->
    
    
            </main>
            <!-- FIN MAIN -->

    </div>
    <!-- FIN MAQUETADO -->

</body>
{%endblock%}
          