{%  extends "core/base.html" %}

{% block title %} ¡Se aproxima Shadow of the Erdtree! Estas son sus novedades. {% endblock %}

{% block cssExtra %}
<link rel="stylesheet" type="text/css" href="../static/core/css/Noticias/noticias.css">
{% endblock %}

{% block content%}


<body>
    <!-- INICIO MAQUETADO -->
    <div class="maquetado">

        <div class="cabecera">
            <div class="texto">
                <div class="titulo">¡Se aproxima Shadow of the Erdtree! Estas son sus novedades.</div>
                <div class="gris">hace 2 dias</div>
            </div>    
            <div class="sombra"></div>
            <div class="banner"><img src="../../static/core/img/noticias/noticia elden/noticia1.jpg" alt="fondo"></div>
        </div>

        <!-- COMIENZA MAIN -->
        <main class="main">
            
            <!-- COMIENZA PRINCIPAL -->

            <div class="principal"> 

                <div class="box-noticia">
                    <span> Despues de mucho tiempo de espera, se han publicado las novedades sobre el proximo dlc de Elden ring, "Shadow of the Erdtree".<br>
                        Estas novedades surgieron a partir del evento reciente relacionado con el juego, donde se han publicado siete imagenes nuevas sobre la expansion, donde se puede apreciar como sera la nueva zona a explorar de las tierras medias.<br>
                    </span>
                    <div><img src="../../static/core/img/noticias/noticia elden/18fa4ce4224a4882.jpg" alt="panel"></div>
                    <div><img src="../../static/core/img/noticias/noticia elden/18fa4ce4372a4882.jpg" alt="panel"></div>
                    <div><img src="../../static/core/img/noticias/noticia elden/18fa4ce44f9a4882.jpg" alt="panel"></div>
                    <div><img src="../../static/core/img/noticias/noticia elden/18fa4ce4781a4882.jpg" alt="panel"></div>
                    <div><img src="../../static/core/img/noticias/noticia elden/18fa4ce493ba4882.jpg" alt="panel"></div>
                    <div><img src="../../static/core/img/noticias/noticia elden/18fa4ce4b21a4882.jpg" alt="panel"></div>
                    <div><img src="../../static/core/img/noticias/noticia elden/18fa4ce4d7fa4882.jpg" alt="panel"></div>
                    <span> Despues de estas imagenes filtradas, solo nos queda rejugar en new game +7 para matar la espera hasta el 21 de junio, fecha anunciada para el lanzamiento simultaneo en todas las plataformas.
                    </span>
                </div>

                <div class="box-creador">

                    <a class="perfil" href="../../pages/Perfiles/Coorsed.html">
  
                     <div class="usuario"><img src="../../static/core/img/perfil/Coorsed/kaneki.jpg" alt="icono perfil"><span class="nombre">Coorsed</span></div>
                    
                      <div class="gris">Moderador</div>
                      <div class="gris">Sumiller profesional de anime y programador jr.</div>
                    </a>
  
                  </div>
            </div>    
             <!-- FIN PRINCIPAL -->
            
            <!-- COMIENZA ASIDE -->
                        
            <aside class="aside">

                <!-- COMIENZA TITULO -->
                <div class="titulo">
                    <a href="Todas.html">Otras noticias</a>
                </div>
                <!-- FIN TITULO -->

                <!-- COMIENZA LISTA NOTICIAS -->
                <ul class="noticias">

                    <!-- COMIENZA NOTICIA -->
                    <li>
                        <a href="Noticia1.html">  
                          <!-- COMIENZA IMAGEN NOTICIA-->
                          <div class="imagen">
                            <img src="../../static/core/img\noticias/noticia jjk/noticia.jpg" alt="noticia genshin">
                          </div>
                          <!-- FIN IMAGEN NOTICIA -->
                        
                          <!-- COMIENZA TEXTO NOTICIA -->
                          
                          <div class="noticia">
                            <p>¡Jujutsu kaisen rompe el internet de nuevo!</p>
                          </div>
                          <!-- FIN TEXTO NOTICIA -->
                        </a>
      
      
                      </li>
                    <!-- FIN NOTICIA -->

                    <!-- COMIENZA NOTICIA -->
                    <li>
                    <a href="Noticia3.html">
                        <!-- COMIENZA IMAGEN NOTICIA-->
                        <div class="imagen">
                            <img src="../../static/core/img\noticias/noticia fortnite/noticia2.jpg" alt="noticia fortnite">
                        </div>
                        <!-- FIN IMAGEN NOTICIA -->
                    
                        <!-- COMIENZA TEXTO NOTICIA -->
                        <div class="noticia">
                        <p>¡Unete a los Jedi esta temporada! Fortnite x Star Wars.</p>
                        </div>
                        <!-- FIN TEXTO NOTICIA -->
                    </a>
                    </li>
                    <!-- FIN NOTICIA -->

                    <!-- COMIENZA NOTICIA -->
                    <li>
                    <a href="Noticia4.html">
                        <!-- COMIENZA IMAGEN NOTICIA-->
                        <div class="imagen">
                        <img src="../../static/core/img\noticias/noticia switch/noticia3.jpg" alt="noticia switch">
                        </div>
                        <!-- FIN IMAGEN NOTICIA -->
                    
                        <!-- COMIENZA TEXTO NOTICIA -->
                        <div class="noticia">
                        <p>¡Presentacion Switch 2! Estas son sus especificaciones.</p>
                        </div>
                        <!-- FIN TEXTO NOTICIA -->
                    </a>
                    </li> 
                    <!-- FIN NOTICIA -->

                </ul>
                <!-- FIN LISTA NOTICIAS -->

            </aside>
             <!-- FIN ASIDE -->

        </main>
        <!-- FIN MAIN -->


    </div>
    <!-- FIN MAQUETADO -->

</body>
{%endblock%}