{%  extends "core/base.html" %}

{% block title %} ¡Unete a los Jedi esta temporada! Fortnite x Star Wars. {% endblock %}

{% block cssExtra %}
<link rel="stylesheet" type="text/css" href="../static/core/css/Noticias/noticias.css">
{% endblock %}

{% block content%}


<body>
    <!-- INICIO MAQUETADO -->
    <div class="maquetado">

      <!-- INICIO MAQUETADO -->
      <div class="maquetado">

        <div class="cabecera">
            <div class="texto">
                <div class="titulo">¡Unete a los Jedi esta temporada! Fortnite x Star Wars.</div>
                <div class="gris">hace 3 dias</div>
            </div>    
            <div class="sombra"></div>
            <div class="banner"><img src="../../static/core/img/noticias/noticia fortnite/noticia2.jpg" alt="fondo"></div>
        </div>

        <!-- COMIENZA MAIN -->
        <main class="main">
            
            <!-- COMIENZA PRINCIPAL -->

            <div class="principal"> 

                <div class="box-noticia">
                    <span>Con la llegada de la v29.40 de Fornite, las naves estelares han aterrizado tanto para traer a los jedi como a los sith. Es tu turno de aliarte para derrotar al lado oscuro de la fuerza en busqueda de una victoria campal.<br>
                        Por eso, con esta nueva actualizacion se han integrado varias cosas, asi que te vamos a estar mostrando varias cosas interesantes de esta version!
                    </span>
                    <span>Vamos a arrancar con las nuevas armas. Como estelar esta el sable de vader,el cual es muy bueno para bloquear fuego enemigo, golpear o incluso arrojarlo contra tus enemigos.
                    </span>
                    <div><img src="../../static/core/img/noticias/noticia fortnite/fortnite-darth-vaders-lightsaber-1920x1080-5fd36c498f0b.jpg" alt="sable"></div>
                    <span>Otras armas, aunque no tan buenas, son la ballesta la cual lanza explosivos(nuestra favorita), y el rifle (con el que sera bastante complicado acertar).<br>
                        A pesar de eso son bastante divertidas, asi que no tengan miedo en usarlas.
                    </span>
                    <div><img src="../../static/core/img/noticias/noticia fortnite/fortnite-e11-blaster-1920x1080-2f76d0598289.jpg" alt="rifle"></div>
                    <div><img src="../../static/core/img/noticias/noticia fortnite/fortnite-wookie-bowcaster-1920x1080-579a11b2e514.jpg" alt="ballesta"></div>
                    <span>Como agregado, tendremos que rescatar a Chewbacca de la base enemiga, lo cual nos recompensara con su ayuda a conseguir la victoria royal.
                    </span>
                    <div><img src="../../static/core/img/noticias/noticia fortnite/fortnite-chewbacca-1920x1080-5cd2a49d96fe.jpg" alt="Chewi"></div>
                </div>

                <div class="box-creador">

                    <a class="perfil" href="../../pages/Perfiles/Coorsed.html">
  
                     <div class="usuario"><img src="../../static/core/img/perfil/Coorsed/kaneki.jpg" alt="icono perfil"><span class="nombre">Coorsed</span></div>
                    
                      <div class="gris">Moderador</div>
                      <div class="gris">Sumiller profesional de anime y programador jr.</div>
                    </a>
  
                </div>
            </div>    
             <!-- FIN PRINCIPAL -->
            
            <!-- COMIENZA ASIDE -->
                                    
            <aside class="aside">

                <!-- COMIENZA TITULO -->
                <div class="titulo">
                    <a href="Todas.html">Otras noticias</a>
                </div>
                <!-- FIN TITULO -->

                <!-- COMIENZA LISTA NOTICIAS -->
                <ul class="noticias">

                    <!-- COMIENZA NOTICIA -->
                    <li>
                        <a href="Noticia1.html">  
                          <!-- COMIENZA IMAGEN NOTICIA-->
                          <div class="imagen">
                            <img src="../../static/core/img\noticias/noticia jjk/noticia.jpg" alt="noticia genshin">
                          </div>
                          <!-- FIN IMAGEN NOTICIA -->
                        
                          <!-- COMIENZA TEXTO NOTICIA -->
                          
                          <div class="noticia">
                            <p>¡Jujutsu kaisen rompe el internet de nuevo!</p>
                          </div>
                          <!-- FIN TEXTO NOTICIA -->
                        </a>
      
      
                      </li>
                    <!-- FIN NOTICIA -->

                    <!-- COMIENZA NOTICIA -->
                    <li>
                        <a href="Noticia2.html">
    
                            <!-- COMIENZA IMAGEN NOTICIA-->
                            <div class="imagen">
                            <img src="../../static/core/img\noticias/noticia elden/noticia1.jpg" alt="noticia elden">
                            </div>
                            <!-- FIN IMAGEN NOTICIA -->
                        
                            <!-- COMIENZA TEXTO NOTICIA -->
                            <div class="noticia">
                            <p>¡Se aproxima Shadow of the Erdtree! Estas son sus novedades.</p>
                            </div>
                            <!-- FIN TEXTO NOTICIA -->
                        </a>
                        
                        </li>
                    <!-- FIN NOTICIA -->

                    <!-- COMIENZA NOTICIA -->
                    <li>
                    <a href="Noticia4.html">
                        <!-- COMIENZA IMAGEN NOTICIA-->
                        <div class="imagen">
                        <img src="../../static/core/img\noticias/noticia switch/noticia3.jpg" alt="noticia switch">
                        </div>
                        <!-- FIN IMAGEN NOTICIA -->
                    
                        <!-- COMIENZA TEXTO NOTICIA -->
                        <div class="noticia">
                        <p>¡Presentacion Switch 2! Estas son sus especificaciones.</p>
                        </div>
                        <!-- FIN TEXTO NOTICIA -->
                    </a>
                    </li> 
                    <!-- FIN NOTICIA -->

                </ul>
                <!-- FIN LISTA NOTICIAS -->

            </aside>
             <!-- FIN ASIDE -->

        </main>
        <!-- FIN MAIN -->


    </div>
    <!-- FIN MAQUETADO -->

</body>
{%endblock%}
          