{%  extends "core/base.html" %}

{% block content%}


<body>
    <!-- INICIO MAQUETADO -->
    <div class="maquetado">

        <div class="cabecera">
            <div class="texto">
                <div class="titulo">Review de Resident evil 4 Remake</div>
                <div class="gris">Hace 1 dia</div>
            </div>    
            <div class="sombra"></div>
            <div class="banner"><img src="../../static/core/img/reseñas/RE4/banner.png" alt="fondo"></div>
        </div>

        <!-- COMIENZA MAIN -->
        <main class="main">
            
            <!-- COMIENZA PRINCIPAL -->

            <div class="principal"> 

                <div class="box-noticia">
                    <article>
                        <p>
                            Despues de casi 20 años de la salida del original, ha tocado su remake y lo han recibido con mucha expectación. Por eso, he tenido que pegarle una viciada y comprobarlo por ustedes, así que quedense leyendo para comprobarlo.
                            <br>
                            Cuidado con este Review que contendra spoilers.
                        </p>

                        <div><img src="../../static/core/img/reseñas/RE4/foto.jpg" alt="enemigos"></div>
                       
                    </article>
                    <article>
                        <p>
                            Comenzando con el incremento de dificultad, no solo fue el tiempo lo que avanzo desde el lanzamiento del juego, tambien han avanzado los graficos, fisicas y mecanicas.<br>
                            Asi que han implementado otro motor grafico increible, posibilitando muchas más cosas, una de ellas la dificultad de los enemigos y la aparicion de varios nuevos.<br><br>
                            Para que los jugadores no paseen como un domingo como si conocieran el juego se han añadido a los desnucados (enemigo similar a los que aparecen en RE posteriores), las bestias y varias reapariciones de enemigos reforzados, para evitar que te pases el juego en una tarde.
                        </p>

                       <div><img src="../../static/core/img/reseñas/RE4/enemigos.jpg" alt="enemigos"></div>
                        
                    </article>   

                    <article>
                        <p>
                            Los jefes tambien han conseguido varios buffeos para que no sea tan similar al original, si no que realmente sea un desafio y valga la pena el comprarlo, que si no por los graficos hay varios mods para texturas.
                        </p>
                        <div><img src="../../static/core/img/reseñas/RE4/bosses.jpg" alt="bosses"></div>
                    </article>  
                    <article>
                        <p>
                            Los jefes no han sido los unicos buffeados, tambien se han agregado nuevas mecanicas de jugabilidad, como el parry, para evitar que los golpes cuerpo a cuerpo nos bajen vida, pudiendo asi dejarlos stuneados y derrotarlos.
                        </p>
                        <div><img src="../../static/core/img/reseñas/RE4/parry.jpg" alt="parry"></div>
                    </article>

                    <article>
                        <p>
                           Para no spoilear mucho más, se ha modificado un poco el mapa y se han agregado tanto misiones secundarias, bosses opcionales y desafios secretos, asi que te desafio que encuentres todos. 
                        </p>
                        <div><img src="../../static/core/img/reseñas/RE4/peticiones.jpg" alt="peticiones"></div>
                    </article>

                    <article>
                        <p>
                            Asi que con esto podemos concluir un poco y dejarlo a tu criterio. Hay mucho mas contenido y no es como unas simples texturas, asi que de mi parte lo dejo en un 9, asi que solo queda que te lo compres para poder difrutarlo! 
                        </p>
                        
                    </article>

                </div>

                <div class="box-creador">

                    <a class="perfil" href="../../pages/Perfiles/Coorsed.html">

                     <div class="usuario"><img src="../../static/core/img/perfil/Coorsed/kaneki.jpg" alt="icono perfil"><span class="nombre">Coorsed</span></div>
                    
                      <div class="gris">Moderador</div>
                      <div class="gris">Sumiller profesional de anime y programador jr.</div>
                    </a>

                </div>
            </div>    
             <!-- FIN PRINCIPAL -->
            
             <!-- COMIENZA ASIDE -->
        <aside class="aside">

            <!-- COMIENZA TITULO -->
            <a class="titulo" href="../../pages/Noticias/Todas.html">
              <p>Últimas noticias</p>
            </a>
            <!-- FIN TITULO -->

            <!-- COMIENZA LISTA NOTICIAS -->
            <ul class="noticias">

              <!-- COMIENZA NOTICIA -->
                <li>
                  <a href="../../pages/Noticias/Noticia1.html">  
                    <!-- COMIENZA IMAGEN NOTICIA-->
                    <div class="imagen">
                      <img src="../../static/core/img/noticias/noticia jjk/noticia.jpg" alt="noticia gojo">
                    </div>
                    <!-- FIN IMAGEN NOTICIA -->
                  
                    <!-- COMIENZA TEXTO NOTICIA -->
                    
                    <div class="noticia">
                      <p>¡Jujutsu kaisen rompe el internet de nuevo!</p>
                    </div>
                    <!-- FIN TEXTO NOTICIA -->
                  </a>


                </li>
                <!-- FIN NOTICIA -->

                <!-- COMIENZA NOTICIA -->
                <li>
                  <a href="../../pages/Noticias/Noticia2.html">

                    <!-- COMIENZA IMAGEN NOTICIA-->
                    <div class="imagen">
                      <img src="../../static/core/img/noticias/noticia elden/noticia1.jpg" alt="noticia elden">
                    </div>
                    <!-- FIN IMAGEN NOTICIA -->
                  
                    <!-- COMIENZA TEXTO NOTICIA -->
                    <div class="noticia">
                      <p>¡Se aproxima Shadow of the Erdtree! Estas son sus novedades.</p>
                    </div>
                    <!-- FIN TEXTO NOTICIA -->
                  </a>
                  
                </li>
                <!-- FIN NOTICIA -->

                <!-- COMIENZA NOTICIA -->
                <li>
                  <a href="../../pages/Noticias/Noticia3.html">
                    <!-- COMIENZA IMAGEN NOTICIA-->
                    <div class="imagen">
                      <img src="../../static/core/img\noticias/noticia fortnite/noticia2.jpg" alt="noticia fortnite">
                    </div>
                    <!-- FIN IMAGEN NOTICIA -->
                  
                    <!-- COMIENZA TEXTO NOTICIA -->
                    <div class="noticia">
                      <p>¡Unete a los Jedi esta temporada! Fortnite x Star Wars.</p>
                    </div>
                    <!-- FIN TEXTO NOTICIA -->
                  </a>
                </li>
                <!-- FIN NOTICIA -->

                <!-- COMIENZA NOTICIA -->
                <li>
                  <a href="../../pages/Noticias/Noticia4.html">
                    <!-- COMIENZA IMAGEN NOTICIA-->
                    <div class="imagen">
                      <img src="../../static/core/img\noticias/noticia switch/noticia3.jpg" alt="noticia switch">
                    </div>
                    <!-- FIN IMAGEN NOTICIA -->
                  
                    <!-- COMIENZA TEXTO NOTICIA -->
                    <div class="noticia">
                      <p>¡Presentacion Switch 2! Estas son sus especificaciones.</p>
                    </div>
                    <!-- FIN TEXTO NOTICIA -->
                  </a>
                </li> 
                <!-- FIN NOTICIA -->

            </ul>
            <!-- FIN LISTA NOTICIAS -->

        </aside>
        <!-- FIN ASIDE -->


        </main>
        <!-- FIN MAIN -->


    </div>
    <!-- FIN MAQUETADO -->

</body>
{%endblock%}
          