@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

*{
    font-family: "Nunito", sans-serif;

}

a {
    text-decoration: none;
    color: ivory;
    transition: transform 0.3s ease;
}


a p:hover{
    color: #9900fffa;
}

.gris{
    color: gray;
}

.usuario{
    color:#6a0ed3;
    text-decoration: none;
    transition: transform 0.3s ease;
}


body{
    background: linear-gradient(135deg, #26294c 30%, #181a33 70%);
    background-repeat: no-repeat; 
}

    .maquetado{
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
    }

    .header{
        background-color: #181a33 ;
        display: flex;
        width: 100% ;
        align-items:center;
        height: 85px;
        padding: 0% 10%;
        box-shadow: 0px 0px 15px 2px #000000c2;
        position: sticky;
        top:0;
        flex:1;
        z-index: 100;
        justify-content:flex-end;
    }

        .header .logo{
            cursor: pointer;
            margin-right: auto;
        }

        .header .logo img{
            height: 70px;
            width: 70px;
            object-fit: cover;
        }


        .header .links{
            list-style: none;
            margin-top: 20px;
        }

        .header .links li{
            display: inline-block;
            padding: 0px 20px;
        }

        .header .links a{
            
            color: rgb(255, 255, 240);
            transition: all 0.3s; 
        }
        .header .links a:hover{
            color: gray;
        }

        .header .perfil{
            cursor: pointer;
            border:none;
            display: flex;

        }

        .header .perfil img{
            height: 70px;
            width: 70px;
            object-fit: cover;
            border-radius: 50%;
        }



        .main{
            color: #fff;
            
            box-sizing: border-box;
            margin: 30px 6% 0% 10%;
        }
          

                .bienvenida{
                    margin-bottom: 30px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 40px;
                }

                    .bienvenida h1{
                        font-size: 30px;
                    }


                    .gris{
                        color: rgba(255, 255, 255, 0.445);
                    }


                .box-total{
                    display: grid;
                    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
                    box-sizing: border-box;
                    max-width: 100%;
                    gap:30px;
                    margin-bottom: 20px;
                    
                }



                .noticia{
                    height:300px;
                    min-width: 300px;
                    max-width: 100%;
                    box-shadow: 0px 0px 15px 2px #000000c2;
                    position: relative;
                    border-radius: 5%;
                    overflow:hidden;
                    cursor: pointer;
                    box-sizing: border-box;
                    transition: transform 0.3s ease;

                }
                
                .noticia:hover{
                    transform: scale(1.05);
                }

                .sombra {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(2, 2, 2, 0) 30%, rgba(0, 0, 0, 0.911) 70%);
                  }

                #noticia0{
                    background-image: url("../../img/noticias/noticia\ jjk/noticia.jpg");
                    background-size: cover;
                    background-position: center;
                }

                #noticia1{
                    background-image: url("../../img/noticias/noticia\ elden/noticia1.jpg");
                    background-size: cover;
                    background-position: center;
                }

                #noticia2{
                    background-image: url("../../img/noticias/noticia\ fortnite/noticia2.jpg");
                    background-size: cover;
                    background-position: center;
                }

                #noticia3{
                    background-image: url("../../img/noticias/noticia\ switch/noticia3.jpg");
                    background-size: cover;
                    background-position: center;
                }

                .texto{
                    position: absolute;
                    bottom: 20px;
                    left: 10px;
                }

                
                




        .footer {
            bottom: 0;
            display: flex;

            color: white;
            height: 70px;
            width: 100%;
            align-items:center;
            justify-content: center;
            box-shadow: 0px 0px 1px 1px rgba(255, 255, 240, 0.205);
        }

            .redes{
                list-style: none;
                box-sizing: border-box;
                display: inline-flex;
                gap: 30px;
                transition: all 0.3;
                margin: 0;
                padding: 0;
            }

            .redes :hover{
                transform: scale(1.1);
            }

            .redes img{
                height: 30px;
                width: 30px;
            }

@media screen and (max-width:1090px){
    .main{

        margin: 20px;

    }
    
}
@media screen and (max-width:600px){
    .header{
        padding:5px;
        font-size: 15px;
    }
}

